&offCanvas {
    &_title {
        background: rgb(34,193,195);
        background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
        display: block;
        font-family: monospace;
        font-size: 4rem;
        line-height: 4rem;
        margin: -4px 0 40px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    &_kicker {
        background: rgba(255, 255, 255, .9);
        padding: 15px;
        position: fixed;
        top: 0;

        @media (min-width: 900px) {
            top: 20px;
        }
    }

    .uk-offcanvas-bar {
        background: #333;
    }
}

