&posts {
    &_article {
        margin-bottom: 100px;

        @media (min-width: 900px) {
            display: flex;
        }
    }
    
    &_title {
        line-height: 1.3rem;
    }
    
    &_date {
        padding-right: 40px;
    }
}
